<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Grand Py Bot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container-fluid ">
    <header class="fixed-top">
        <nav class="navbar navbar-light bg-light row">
            <a href="#" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/papy.jpg') }}" alt="super papy"
                     class="d-inline-block align-middle brand-img">
                <span class="align-middle">Grand' Py Bot</span>
            </a>
            <h1 class="nav-text text-center col-md">Je te dis tout du lieu que tu cherches !</h1>
            <a href="https://github.com/tomlemeuch/GrandPyBot" class="col-md-2"><img
                    style="position: fixed; top: 0; right: 0; border: 0;"
                    src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                    alt="Fork me on GitHub"></a>
        </nav>
    </header>
    <div class="content-wrap">
        <form action="">
            <div class="form-group">
                <label for="search">Demande moi ce que je sais sur le lieu de ton
                    choix</label>
                <input type="text" class="form-control" id="search" name="search" aria-describedby="searchHelp"
                       placeholder="quel lieu cherches-tu ?" required>
            </div>
            <button id="search-btn" class="btn btn-colored-border">Raconte-moi !</button>
        </form>

        <div id="dialog" class="discussion-block">
        </div>
    </div>
    <footer class="fixed-bottom">
        <nav class="navbar navbar-light bg-light justify-content-center">
            <p class="nav-text">Réalisé par Tom Gabrièle</p>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <ul class="navbar-nav justify-content-center hidden-mobile">
                <li class="nav-item">
                    <a href="https://openclassrooms-student-center.github.io/alumnis/students/tom.html" target="_blank"
                       class="nav-link">
                        <img src="{{ url_for('static', filename='images/openclassrooms.svg') }}" width="76"
                             alt="Openclassrooms alumni">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/tom-gabriele-python-addict/" target="_blank" class="nav-link">
                        <img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="76" alt="LinkedIn">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/tomlemeuch" target="_blank" class="nav-link">
                        <img src="{{ url_for('static', filename='images/github.svg') }}" width="76" alt="Github">
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-center visible-mobile">
                <li class="nav-item">
                    <a href="https://openclassrooms-student-center.github.io/alumnis/students/tom.html" target="_blank"
                       class="nav-link">
                        Openclassrooms
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/tom-gabriele-python-addict/" target="_blank" class="nav-link">
                        LinkedIn
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/tomlemeuch" target="_blank" class="nav-link">
                        Github
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script src="{{ url_for('static',filename='js/submit_form.js') }}">

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmbkc5GB_cuVGHU6Uvg47OTO2CmC4rbxk&callback=myMap"></script>
</body>
</html>