/** {*/
/*border: solid 1px black;*/
/*}*/
body {
    font-family: 'Raleway', sans-serif;
}

header {
    z-index: 1000;

    max-height: 200px;
}

header h1 {
    font-size: 1.5em;
}

footer {
    z-index: 1000;

    max-height: 110px;
    margin-top: 50px;
}

footer .navbar {
    padding: 2px 0;
}

footer .navbar ul {
    width: 100%;
}

footer p {
    margin: 0;
}

footer img {
    height: 50px;
}

.brand-img {
    display: block;

    width: 100px;
    height: 100px;

    border: solid 1px black;
    border-radius: 50%;
}

.content-wrap {
    overflow: auto;

    min-height: 500px;
    margin-top: 150px;
    padding: 20px;

    /*border: solid 1px black;*/
}

.btn-colored-border {
    color: white;
    border: solid 1px #c62e1a;
    background-color: #13b5db;
}

.discussion-block {
    width: 80%;
    margin: 20px auto 110px auto;
    padding: 10px;

    transition: background-color 1s linear;

    border-radius: 20px;
    background-color: rgba(19, 181, 219, .5);
}

.hide-me {
    display: none;

}

.loader {
/ /
}

.loader-text {
    display: inline-block;
}

.loader-image {
    display: inline-block;
}

.loader-image img {
    width: 100px;
    height: 100px;

    border-radius: 50%;
}

.hidden-mobile {
    display: none;
}

.visible-mobile li a {
    font-size: .8em;

    padding: 3px 0;
}

@media screen and (min-width: 576px) {
    header h1 {
        font-size: 2em;

        display: block;
    }

    .hidden-mobile {
        display: flex;
    }

    .visible-mobile {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    header h1,
    footer .navbar:nth-child(2) {
        display: none;
    }

    .content-wrap {
        /*padding-top: 130px;*/
    }
}

@media screen and (max-height: 300px) {
    header .navbar a:nth-child(3),
    footer .navbar {
        display: none;
    }

    .content-wrap {
        min-height: 280px;
        /*padding-top: 130px;*/
    }
}
