
body
{
    font-family: 'Raleway', sans-serif;
}

header
{
    z-index: 1000;

    max-height: 200px;
}

header h1
{
    font-size: 1.5em;
}

footer
{
    z-index: 1000;

    max-height: 110px;
}

footer .navbar
{
    padding: 2px 0;
}

footer .navbar ul
{
    width: 100%;
}

footer p
{
    margin: 0;
}

footer img
{
    height: 50px;
}

.brand-img
{
    display: block;

    width: 100px;
    height: 100px;

    border: solid 1px black;
    border-radius: 50%;
}

.content-wrap
{
    min-height: 500px;
    padding-top: 200px;
}

.btn-colored-border
{
    color: white;
    border: solid 1px #c62e1a;
    background-color: #13b5db;
}

.hidden-mobile
{
    display: none;
}

.visible-mobile li a
{
    font-size: .8em;

    padding: 3px 0;
}

@media screen and (min-width: 576px)
{
    header h1
    {
        font-size: 2em;

        display: block;
    }

    .hidden-mobile
    {
        display: flex;
    }

    .visible-mobile
    {
        display: none;
    }
}

@media screen and (max-height: 500px)
{
    header h1,
    footer .navbar:nth-child(2)
    {
        display: none;
    }

    .content-wrap
    {
        padding-top: 130px;
    }
}

@media screen and (max-height: 300px)
{
    header .navbar a:nth-child(3),
    footer .navbar
    {
        display: none;
    }

    .content-wrap
    {
        min-height: 280px;
        padding-top: 130px;
    }
}
